.NomePrincipal{
	
    margin: auto;
    padding: 1px;
}
.article{
	margin: auto;
	width: 20%;
	padding: 9px;
}
.estilo{
	opacity: 0;
	
}

body{
	position: relative;
	display: block;
    margin-left: auto;
    margin-right: auto;
	top: 100px;
}
li{
	margin: auto;
    width: 40%;
    border: 1px solid #075656;
    padding: 9px;
	font-size: 12px;
	font-family: sans-serif;
	list-style-type: none;
	
}
#correto{
	float: left;

}
#removedor{
	float: right;

}

#Criador{
	background-color: #ebebeb;
	width: 200px;
	text-align: 30px;
	height: 20px;
	margin-left: 30%;

}
#Titulo{
    height: 60px;
    width: 10%;

}
#Centro{
    margin: auto;
    width: 40%;
    border: 1px solid ;
    padding: inherit;
	background-color: cadetblue;	
}
#removedor{
	margin-left:74%;
	margin 10
}

li:nth-child(odd){
	background-color: beige;
}
li:nth-child(even){
	background-color: antiquewhite;
}
li:hover{
   background-color: azure;
}
li:hover > .estilo {
	background-color: azure;
	opacity: 1;
}





