.NomePrincipal{
	
    margin: auto;
    width: 10%;
    border: 1px solid Darkslategray;
    padding: 9px;
}
.article{
	margin: auto;
	width: 13%;
	padding: 9px;
	
	
}
#tarefaID{
	right: auto;align-self: 
}