.NomePrincipal{
	
    margin: auto;
    padding: 1px;
	white-space: nowrap;
	margin-left: 30%;

}
.article{
	margin: auto;
	width: 20%;
	padding: 9px;
}
.ativo{
	opacity: 0;
}
.desativada{
	opacity: 1;
	color: darkgreen



}
.riscado{
	text-decoration: line-through;
	background-color: brown !important;
}

body{
	position: relative;
	display: block;
    margin-left: auto;
    margin-right: auto;
	top: 100px;
}
li{
	margin: auto;
    width: 40%;
    border: 1px solid #075656;
    padding: 15px;
	font-size: 20px;
	font-family: sans-serif;
	list-style-type: none;
}

#correto{
	float: left;
}
#removedor{
	float: right;
	background-color: red;
	border: 15px solid red;
	height: 24px;
	width: 14px;
	font-size: 40px;
	margin: -15px;


	  
}

#Criador{
	background-color: #ebebeb;
	width: 70%;
	text-align: 40px;
	height: 20px;
	margin-left: 10%;

}
#Titulo{
    height: 60px;
    width: 10%;

}
#Centro{
    margin: auto;
    width: 40%;
    border: 1px solid ;
    padding: 15px;
	background-color: cadetblue;	
}
#removedor{
	margin-left:74%;
	margin 10
}
#tarefaLista{

}
li:nth-child(odd){
	background-color: #FF5722;
}
li:nth-child(even){
	background-color: #cecece;
}
li:hover{
   background-color: azure;
}
li:hover > .ativo {
	background-color: azure;
	opacity: 1;
}

	#correto:checked{
	opacity: 1;
}




